In [2]:
import os
import pandas as pd
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz,DecisionTreeRegressor
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

path = os.getcwd()
os.chdir(path)

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
rdata=pd.read_csv("train.csv")

In [5]:
rdata.shape

(31283, 66)

In [6]:
print("The columns in the data set are : \n",list(rdata.columns))

The columns in the data set are :
 ['ID', 'Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8', 'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15', 'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22', 'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64', 'target']

In [7]:
print("The data types of the columns are :\n ",rdata.dtypes)

The data types of the columns are :
  ID          int64
Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
Attr6     float64
Attr7     float64
Attr8     float64
Attr9     float64
Attr10    float64
Attr11    float64
Attr12    float64
Attr13    float64
Attr14    float64
Attr15    float64
Attr16    float64
Attr17    float64
Attr18    float64
Attr19    float64
Attr20    float64
Attr21    float64
Attr22    float64
Attr23    float64
Attr24    float64
Attr25    float64
Attr26    float64
Attr27    float64
Attr28    float64
Attr29    float64
           ...
Attr36    float64
Attr37    float64
Attr38    float64
Attr39    float64
Attr40    float64
Attr41    float64
Attr42    float64
Attr43    float64
Attr44    float64
Attr45    float64
Attr46    float64
Attr47    float64
Attr48    float64
Attr49    float64
Attr50    float64
Attr51    float64
Attr52    float64
Attr53    float64
Attr54    float64
Attr55    float64
Attr56    float64
Attr57    float64
Attr58    float64
Attr59    float64
Attr60    float64
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
target      int64
Length: 66, dtype: object

In [8]:
rdata.head(10)

,ID,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,target
0,1,0.135370,0.451850,0.311620,2.0469,10.23400,0.167680,0.167630,1.21310,2.25540,...,0.078728,0.246950,0.92586,0.18362,9.0895,8.8342,48.1720,7.5770,5.7725,0
1,2,0.005861,0.398580,0.197680,1.9390,9.57710,0.000000,0.007237,1.50890,0.97880,...,0.269720,0.000000,0.79303,0.31271,6.2213,4.2785,78.4990,4.6497,1.6539,0
2,3,0.110600,0.161170,0.478940,7.5711,263.90000,0.000000,0.138360,5.20450,0.68447,...,0.159870,0.131850,0.80748,0.10234,9.4499,3.3443,38.8670,9.3910,1.5272,0
3,4,0.063911,1.407300,-0.295950,0.5291,-46.28700,-0.714200,0.079071,-0.33076,0.98490,...,-0.015327,-0.137300,1.01530,-1.67320,29.2710,14.1410,73.4580,4.9688,4.6785,0
4,5,0.131680,0.660310,0.441210,2.7098,-23.59600,-0.200070,0.131910,0.51445,2.13570,...,0.110170,0.387640,0.93881,1.18420,4.5462,15.1400,44.1010,8.2764,7.1014,0
5,6,0.254110,0.022149,0.696940,33.2270,86.64000,0.000000,0.254110,44.14900,1.97160,...,0.122750,0.259860,0.87268,0.00000,6.8375,5.3717,4.0034,91.1710,7.0057,0
6,7,0.325890,0.072556,0.577620,9.0403,96.82400,0.000000,0.403660,12.78300,1.49160,...,0.264550,0.351380,0.73129,0.00000,45.3300,9.6805,17.5800,20.7620,4.2551,0
7,8,0.001252,0.587030,-0.047195,0.9196,-124.00000,-0.068816,0.001252,0.70348,2.04740,...,0.551420,0.003031,0.46775,0.00000,7.9752,7.3650,104.6500,3.4877,4.4493,0
8,9,-0.015104,0.236210,0.593250,3.9253,37.80600,0.000000,-0.015104,3.23360,1.21440,...,-0.098839,-0.019775,1.01130,0.00000,2.6705,13.2400,60.9530,5.9883,5.9544,0
9,10,0.147420,0.367020,0.286830,2.3412,-0.80799,0.147420,0.182010,1.72460,1.10830,...,0.097722,0.232900,0.90228,0.24198,7.1806,10.5760,37.3550,9.7712,4.1849,0

In [9]:
rdata.describe(include='all')

,ID,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,target
count,31283.000000,31276.000000,31276.000000,31276.000000,31181.000000,3.122000e+04,31276.000000,31276.000000,31210.000000,31279.000000,...,3.118200e+04,31277.000000,3.121500e+04,31277.000000,2.971300e+04,31210.000000,3.118200e+04,31181.000000,30682.000000,31283.000000
mean,15642.000000,0.051612,0.551159,0.151249,7.321993,-1.706215e+02,-0.011735,0.120577,14.379693,2.783840,...,-3.637422e+01,-0.007774,4.067219e+01,1.677983,5.462892e+02,15.227988,1.640595e+03,9.656775,81.529420,0.048301
std,9030.768572,1.748230,4.510523,3.754494,347.736044,2.392279e+04,5.489446,6.045041,562.011982,69.973455,...,6.276744e+03,13.989982,6.283661e+03,143.470467,3.792399e+04,219.335078,1.515043e+05,142.374215,2726.762529,0.214405
min,1.000000,-256.890000,-430.870000,-479.730000,-0.045319,-2.722100e+06,-508.120000,-517.480000,-15.236000,-3.496000,...,-1.108300e+06,-1667.300000,-1.986900e+02,-327.970000,-1.244000e+01,-6.590300,-1.496500e+04,-0.367890,-3.726500,0.000000
25%,7821.500000,0.003360,0.269397,0.022146,1.051000,-4.845300e+01,0.000000,0.005758,0.428970,1.018100,...,8.919150e-03,0.014690,8.751350e-01,0.000000,5.533000e+00,4.523400,4.205425e+01,3.099200,2.180375,0.000000
50%,15642.000000,0.049686,0.472685,0.196770,1.571000,-7.813950e-01,0.000000,0.059707,1.068650,1.196700,...,5.306150e-02,0.120460,9.507600e-01,0.005453,9.763000e+00,6.652750,7.120750e+01,5.090700,4.289950,0.000000
75%,23462.500000,0.130523,0.689240,0.403983,2.797800,5.076850e+01,0.087633,0.151895,2.606850,2.060550,...,1.294750e-01,0.286740,9.927900e-01,0.234840,2.014500e+01,10.417750,1.170400e+02,8.618600,9.788950,0.000000
max,31283.000000,94.280000,480.730000,28.336000,53433.000000,1.034100e+06,543.250000,649.230000,53432.000000,9742.300000,...,1.120200e+02,552.640000,1.108300e+06,23853.000000,4.818700e+06,26862.000000,2.501600e+07,23454.000000,294770.000000,1.000000

In [10]:
rdata['target']=rdata['target'].astype('category')

In [11]:
rdata["target"].value_counts()/rdata.shape[0] ## proportion of target

0    0.951699
1    0.048301
Name: target, dtype: float64

In [12]:
rdata=rdata.drop(["ID"],axis=1)

In [13]:
#rdata=rdata.drop(["Attr37"],axis=1)

In [14]:
rdata.head(3)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,target
0,0.135370,0.45185,0.31162,2.0469,10.2340,0.16768,0.167630,1.2131,2.25540,0.54815,...,0.078728,0.24695,0.92586,0.18362,9.0895,8.8342,48.172,7.5770,5.7725,0
1,0.005861,0.39858,0.19768,1.9390,9.5771,0.00000,0.007237,1.5089,0.97880,0.60142,...,0.269720,0.00000,0.79303,0.31271,6.2213,4.2785,78.499,4.6497,1.6539,0
2,0.110600,0.16117,0.47894,7.5711,263.9000,0.00000,0.138360,5.2045,0.68447,0.83883,...,0.159870,0.13185,0.80748,0.10234,9.4499,3.3443,38.867,9.3910,1.5272,0

In [15]:
rdata.isnull().sum()

Attr1         7
Attr2         7
Attr3         7
Attr4       102
Attr5        63
Attr6         7
Attr7         7
Attr8        73
Attr9         4
Attr10        7
Attr11       32
Attr12      102
Attr13      101
Attr14        7
Attr15       25
Attr16       74
Attr17       73
Attr18        7
Attr19      102
Attr20      101
Attr21     4251
Attr22        7
Attr23      101
Attr24      680
Attr25        7
Attr26       74
Attr27     2004
Attr28      601
Attr29        7
Attr30      101
          ...
Attr36        7
Attr37    13768
Attr38        7
Attr39      101
Attr40      102
Attr41      539
Attr42      101
Attr43      101
Attr44      101
Attr45     1566
Attr46      102
Attr47      207
Attr48        8
Attr49      101
Attr50       73
Attr51        7
Attr52      212
Attr53      601
Attr54      601
Attr55        0
Attr56      101
Attr57        6
Attr58       68
Attr59        6
Attr60     1570
Attr61       73
Attr62      101
Attr63      102
Attr64      601
target        0
Length: 65, dtype: int64

### Imputing missing values

In [16]:
colnames=rdata.columns[rdata.isnull().sum()>0]

In [17]:
colnames

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22',
       'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29',
       'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36',
       'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43',
       'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50',
       'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr56', 'Attr57', 'Attr58',
       'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [18]:
for column in colnames:
    rdata[column].fillna(rdata[column].median(), inplace=True)

In [19]:
sum(rdata.isnull().sum())

0

In [20]:
rdata.shape

(31283, 65)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
y=rdata["target"]
X=rdata.drop('target', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [23]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(25026, 64)
(6257, 64)
(25026,)
(6257,)

In [24]:
y_train.value_counts()

0    23784
1     1242
Name: target, dtype: int64

In [25]:
y_test.value_counts()

0    5988
1     269
Name: target, dtype: int64

In [26]:
X_train.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
22571,-0.582230,1.981100,-1.24010,0.2807,-160.6800,-0.5104,-0.646500,-0.49523,1.76940,-0.98110,...,-656.00,-0.702990,0.593450,1.20330,0.00000,17.0180,4.68000,355.6400,1.0263,3.42860
22019,0.115550,0.590660,0.15446,1.4428,-21.1410,0.0000,0.115550,0.69302,1.91180,0.40934,...,838.84,0.225110,0.282290,0.92361,0.59081,7.7681,8.24750,66.5980,5.4807,3.84870
29223,0.070963,0.636830,0.34470,1.5413,-6.4779,0.0000,0.089320,0.57029,3.84890,0.36317,...,417.17,0.025420,0.195400,0.97689,0.00000,9.4882,7.77140,60.3910,6.0439,208.29000
15391,0.126200,0.109310,0.85953,24.8840,818.9200,0.0000,0.126200,8.14830,0.51703,0.89069,...,4760.30,0.269610,0.141690,0.73223,0.00000,9.7630,0.64346,25.4060,14.3670,4.94850
20013,0.019027,0.013474,0.31119,24.0950,334.2800,0.0000,0.019027,73.21700,0.56414,0.98653,...,606.55,0.035111,0.019287,0.96666,0.00000,18.5170,10.27200,8.7177,41.8690,0.83535

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
num_atr=X_train.select_dtypes(['int64','float64']).columns
num_atr

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22',
       'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29',
       'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36',
       'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43',
       'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50',
       'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57',
       'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [28]:
scaler = StandardScaler() ## object intitation
scaler.fit(X_train[num_atr])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [29]:
scaler.mean_

array([ 4.76618733e-02,  5.56321194e-01,  1.45490996e-01,  4.86769886e+00,
       -2.39483697e+02, -1.81006235e-02,  7.26728393e-02,  8.83020462e+00,
        2.22233446e+00,  6.01433840e-01,  1.19126766e-01,  1.03570182e+00,
        1.19577489e+00,  7.26815337e-02,  2.63317595e+03,  1.39319801e+00,
        1.00405895e+01,  7.71452773e-02,  3.98681645e-01,  3.77756109e+02,
        4.59765771e+00,  1.04732811e-01,  3.81456482e-01,  2.36625652e-01,
        3.89445678e-01,  1.28632488e+00,  1.11618895e+03,  5.46940370e+00,
        3.99438256e+00,  8.58092515e+00,  4.21780458e-01,  1.20765417e+03,
        8.14287716e+00,  5.04142411e+00,  1.10536184e-01,  2.46209664e+00,
        6.15688548e+01,  7.01559761e-01, -3.84744168e-01,  2.36211091e+00,
        1.24591097e+01, -9.37841756e-02,  1.51611974e+03,  1.13834365e+03,
        1.53798593e+01,  3.99425428e+00,  3.59186801e+02,  2.03465298e-02,
       -6.37983681e-01,  4.62434791e+00,  4.54748321e-01,  6.39170397e+00,
        2.93236936e+01,  2.99179267e+01,  8.11769974e+03, -4.52770478e+01,
        5.80975128e-02,  4.77192331e+01,  1.58441662e+00,  5.57652083e+02,
        1.53758299e+01,  1.83911755e+03,  8.87040679e+00,  8.18684133e+01])

In [30]:
X_train[num_atr]=scaler.transform(X_train[num_atr])
X_test[num_atr]=scaler.transform(X_test[num_atr])

In [31]:
print(X_train.shape)
print(X_test.shape)

(25026, 64)
(6257, 64)

In [32]:
X_train.describe(include='all')

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,...,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04,2.502600e+04
mean,-1.004041e-17,7.803968e-18,-1.604713e-17,-2.131308e-17,6.239307e-17,-3.416999e-16,8.621075e-18,3.508126e-18,5.219912e-17,9.309807e-18,...,-1.622125e-17,-8.703528e-18,1.641298e-17,-3.465877e-17,1.004066e-15,-5.419372e-17,3.446711e-18,1.560184e-18,3.967142e-18,-3.238150e-17
std,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,...,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00
min,-1.387500e+02,-8.636714e+01,-1.149379e+02,-5.914134e-02,-1.088417e+02,-8.806321e+01,-1.219944e+02,-3.828476e-02,-1.767082e-01,-4.179472e+01,...,-2.313503e+01,-1.581824e+02,-9.477859e+01,-3.516409e-02,-2.160261e+00,-1.394228e-02,-9.509583e-02,-1.005826e-01,-1.637468e-01,-2.911629e-02
25%,-2.384031e-02,-5.722849e-02,-2.948311e-02,-4.593938e-02,7.680696e-03,3.137164e-03,-1.573718e-02,-2.947339e-02,-3.721022e-02,-2.672659e-02,...,-1.031767e-01,6.463745e-03,-4.123726e-03,-6.684958e-03,-1.038601e-02,-1.349748e-02,-4.697198e-02,-1.075708e-02,-1.061527e-01,-2.709345e-02
50%,1.206460e-03,-1.665803e-02,1.228215e-02,-3.968461e-02,9.553387e-03,3.137164e-03,-3.039140e-03,-2.723141e-02,-3.163549e-02,-8.381355e-03,...,-9.004560e-02,6.470014e-03,6.060678e-03,-6.674169e-03,-1.035111e-02,-1.339928e-02,-3.774753e-02,-1.058199e-02,-6.958170e-02,-2.638939e-02
75%,4.489983e-02,2.657896e-02,6.180629e-02,-2.501067e-02,1.159772e-02,1.805668e-02,1.874331e-02,-2.189735e-02,-4.686588e-03,9.257771e-03,...,-4.114967e-02,6.480935e-03,2.233008e-02,-6.668153e-03,-8.851064e-03,-1.316833e-02,-2.164311e-02,-1.030946e-02,-4.384296e-03,-2.456993e-02
max,4.720338e+01,9.612587e+01,6.752081e+00,9.863954e+01,3.963365e+01,9.415815e+01,5.808165e+01,9.250920e+01,1.197107e+02,8.465846e+01,...,7.802505e+01,2.245117e-02,5.347953e+01,1.581543e+02,1.563484e+02,1.178334e+02,1.162245e+02,1.497246e+02,1.405076e+02,1.002422e+02

In [33]:
X_train1=X_train[~((X_train<(-3))|(X_train>3)).any(axis=1)]

In [34]:
rown=X_train[~((X_train<(-3))|(X_train>3)).any(axis=1)].index

In [35]:
rown

Int64Index([12312,  4605, 12555, 28742,  9602, 16266, 24651,  9615, 11690,
            18522,
            ...
            17360, 10537,  9924,  2451, 15511, 15501, 18822, 21152,  6490,
            27279],
           dtype='int64', length=24321)

In [36]:
y_train1=y_train[rown]

In [37]:
y_train1.shape

(24321,)

In [38]:
X_train1.shape

(24321, 64)

In [39]:
X_train1.describe(include='all')

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,...,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000,24321.000000
mean,0.007713,-0.006672,0.010596,-0.023101,0.009183,0.004098,0.000837,-0.020542,-0.015396,-0.012306,...,-0.035554,0.006387,0.008714,-0.006345,-0.008284,-0.012045,-0.018163,-0.010046,-0.022114,-0.020595
std,0.108040,0.089076,0.098965,0.079403,0.091756,0.083991,0.050073,0.036186,0.044452,0.039621,...,0.279866,0.009389,0.127056,0.022329,0.036824,0.019340,0.103943,0.013156,0.184303,0.044858
min,-2.124342,-0.111370,-2.568688,-0.059141,-2.768507,-2.532332,-0.941365,-0.034578,-0.106242,-1.281380,...,-2.968085,-1.211690,-2.869571,-0.011218,-1.694981,-0.013942,-0.066966,-0.011008,-0.163298,-0.029116
25%,-0.023540,-0.056512,-0.029133,-0.045908,0.007689,0.003137,-0.015576,-0.029462,-0.037173,-0.026553,...,-0.103068,0.006464,-0.004015,-0.006685,-0.010386,-0.013498,-0.046899,-0.010755,-0.105690,-0.027089
50%,0.001475,-0.016376,0.012148,-0.039707,0.009545,0.003137,-0.002878,-0.027236,-0.031506,-0.008469,...,-0.089644,0.006470,0.006132,-0.006674,-0.010338,-0.013399,-0.037719,-0.010582,-0.069582,-0.026389
75%,0.045015,0.026217,0.061079,-0.025312,0.011558,0.018226,0.018743,-0.022018,-0.004834,0.008925,...,-0.041388,0.006481,0.022336,-0.006668,-0.008825,-0.013169,-0.021749,-0.010312,-0.005261,-0.024573
max,1.653166,2.916501,2.821861,2.584638,2.836166,2.969128,0.844735,2.625199,1.448369,1.044196,...,2.962785,0.011014,2.856874,2.578738,2.009567,1.094790,2.947382,1.216038,2.899087,2.770543

In [40]:
print(X_train1.shape)
print(X_test.shape)

(24321, 64)
(6257, 64)

In [41]:
from imblearn.over_sampling import SMOTE
columns=X_train.columns
columns

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22',
       'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29',
       'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36',
       'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43',
       'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50',
       'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57',
       'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [42]:
from imblearn.over_sampling import SMOTE
columns=X_train.columns

sm=SMOTE(random_state=123,sampling_strategy='minority')

X_train_res, y_train_res = sm.fit_sample(X_train1, y_train1.ravel())
X_train_res=pd.DataFrame(X_train_res,columns=columns)
y_train_res=pd.DataFrame(y_train_res,columns=['target'])

## Build model

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
#clf = RandomForestClassifier(n_estimators=50,max_depth=20)
clf = RandomForestClassifier(n_estimators=30,max_depth=20,class_weight='balanced')
#max_depth': 28, 'min_samples_leaf': 20, 'n_estimators': 50}
clf.fit(X=X_train, y=y_train)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=20, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=30, n_jobs=None, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [29]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

y_pred = clf.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(recall_score(y_test,y_pred,pos_label=1))
print(precision_score(y_test,y_pred,pos_label=1))
print(f1_score(y_test,y_pred,pos_label=1))
print()
y_pred1 = clf.predict(X_train)
print(accuracy_score(y_train,y_pred1))
print(recall_score(y_train,y_pred1,pos_label=1))

0.9643599168930798
0.25650557620817843
0.75
0.3822714681440443

0.9979221609526093
0.9838969404186796

In [40]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

y_pred = clf.predict(X_test)
print(accuracy_score(y_test,y_pred))
y_pred1 = clf.predict(X_train1)
print(accuracy_score(y_train1,y_pred1))
print(recall_score(y_train1,y_pred1,pos_label=1))
print(recall_score(y_test,y_pred,pos_label=1)) ## 100 ,20

In [43]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

y_pred = clf.predict(X_test)
print(accuracy_score(y_test,y_pred))
y_pred1 = clf.predict(X_train1)
print(accuracy_score(y_train1,y_pred1))
print(recall_score(y_train1,y_pred1,pos_label=1))
print(recall_score(y_test,y_pred,pos_label=1)) ## 50,30

### GRID SEARCH CV

In [68]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
rfc = RandomForestClassifier(n_jobs=-1, max_features='sqrt',class_weight='balanced')

param_grid = { 
           "n_estimators" : [9, 18, 27, 36, 45, 54, 63],
           "max_depth" : [2,3,5,7],
           "min_samples_leaf" : [2, 4]}

In [70]:
CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid,cv=5,verbose=1,scoring='f1')
CV_rfc.fit(X=X_train_res, y=y_train_res)
print (CV_rfc.best_score_, CV_rfc.best_params_)

Fitting 5 folds for each of 56 candidates, totalling 280 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 280 out of 280 | elapsed: 16.6min finished

0.8553179754206341 {'max_depth': 7, 'min_samples_leaf': 2, 'n_estimators': 63}

In [71]:
y_pred_test=CV_rfc.predict(X_test)
print(accuracy_score(y_test,y_pred_test))

0.813968355441905

In [73]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_test, pos_label=1, average='binary'))

0.6962025316455697
0.17080745341614906

In [46]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
rfc = RandomForestClassifier(n_jobs=-1, max_features='sqrt',class_weight='balanced')

param_grid1 = { 
           "n_estimators" : [2,5,10,12,15],
           "max_depth" : [20,25,30,35],
           "min_samples_leaf" : [2,5]}

In [47]:
CV_rfc1 = GridSearchCV(estimator=rfc, param_grid=param_grid1,cv=5,verbose=1,scoring='f1')
CV_rfc1.fit(X=X_train1, y=y_train1)
print (CV_rfc1.best_score_, CV_rfc1.best_params_)

Fitting 5 folds for each of 40 candidates, totalling 200 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 200 out of 200 | elapsed:  4.1min finished

0.4182131017890542 {'max_depth': 30, 'min_samples_leaf': 5, 'n_estimators': 15}

In [48]:
y_pred_test1=CV_rfc1.predict(X_test)
print(accuracy_score(y_test,y_pred_test1)) # 96

0.9582867188748602

In [55]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_test1, pos_label=1, average='binary')) #20d,2l,15n
print(precision_score(y_test,y_pred_test1,pos_label=1))

0.26384364820846906
0.6982758620689655

* observing 30,5,15 as a better hyperparameter

In [51]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
rfc = RandomForestClassifier(n_jobs=-1, max_features='sqrt',class_weight='balanced')

param_grid2 = { 
           "n_estimators" : [10,15,20,25],
           "max_depth" : [25,30,35,40],
           "min_samples_leaf" : [2,5]}

In [52]:
CV_rfc2 = GridSearchCV(estimator=rfc, param_grid=param_grid2,cv=5,verbose=1,scoring='f1')
CV_rfc2.fit(X=X_train1, y=y_train1)
print (CV_rfc2.best_score_, CV_rfc2.best_params_)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 160 out of 160 | elapsed:  4.5min finished

0.4341981462239283 {'max_depth': 25, 'min_samples_leaf': 5, 'n_estimators': 20}

In [53]:
y_pred_test2=CV_rfc2.predict(X_test)
print(accuracy_score(y_test,y_pred_test2))

0.9592456448777369

In [56]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_test2, pos_label=1, average='binary'))
print(precision_score(y_test,y_pred_test2,pos_label=1))

0.2736156351791531
0.7241379310344828

* 25,5,20 is a better hyperparamater

In [57]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
rfc = RandomForestClassifier(n_jobs=-1, max_features='sqrt',class_weight='balanced')

param_grid3 = { 
           "n_estimators" : [15,17,20,25,40,50],
           "max_depth" : [25,26,27,28,30,35,40],
           "min_samples_leaf" : [2,5,10,20]}

In [58]:
CV_rfc3 = GridSearchCV(estimator=rfc, param_grid=param_grid3,cv=5,verbose=1,scoring='f1')
CV_rfc3.fit(X=X_train1, y=y_train1)
print (CV_rfc3.best_score_, CV_rfc3.best_params_)

Fitting 5 folds for each of 168 candidates, totalling 840 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 840 out of 840 | elapsed: 36.3min finished

0.47943520336537293 {'max_depth': 28, 'min_samples_leaf': 20, 'n_estimators': 50}

In [59]:
y_pred_test3=CV_rfc3.predict(X_test)
print(accuracy_score(y_test,y_pred_test3))

0.9429439028288317

In [60]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_test3, pos_label=1, average='binary'))
print(precision_score(y_test,y_pred_test3,pos_label=1))

0.5179153094462541
0.4320652173913043

In [61]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
rfc = RandomForestClassifier(n_jobs=-1, max_features='sqrt',class_weight='balanced')

param_grid4 = { 
           "n_estimators" : [15,25,50,70],
           "max_depth" : [28,35,50],
           "min_samples_leaf" : [10,20,30,50]}

In [62]:
CV_rfc4 = GridSearchCV(estimator=rfc, param_grid=param_grid4,cv=5,verbose=1,scoring='f1')
CV_rfc4.fit(X=X_train1, y=y_train1)
print (CV_rfc4.best_score_, CV_rfc4.best_params_)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 240 out of 240 | elapsed: 29.8min finished

0.4807449136196628 {'max_depth': 35, 'min_samples_leaf': 20, 'n_estimators': 70}

In [63]:
y_pred_test4=CV_rfc4.predict(X_test)
print(accuracy_score(y_test,y_pred_test4))

0.9434233658302701

In [64]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_test4, pos_label=1, average='binary'))
print(precision_score(y_test,y_pred_test4,pos_label=1))

0.4820846905537459
0.4314868804664723

In [46]:
tdata=pd.read_csv("test.csv")

In [47]:
ID=tdata["ID"]

In [48]:
tdata=tdata.drop(["ID"],axis=1)

In [49]:
colnamest=tdata.columns[tdata.isnull().sum()>0]

In [50]:
for column in colnamest:
    tdata[column].fillna(tdata[column].median(), inplace=True)

In [51]:
tdata.isnull().sum()

Attr1     0
Attr2     0
Attr3     0
Attr4     0
Attr5     0
Attr6     0
Attr7     0
Attr8     0
Attr9     0
Attr10    0
Attr11    0
Attr12    0
Attr13    0
Attr14    0
Attr15    0
Attr16    0
Attr17    0
Attr18    0
Attr19    0
Attr20    0
Attr21    0
Attr22    0
Attr23    0
Attr24    0
Attr25    0
Attr26    0
Attr27    0
Attr28    0
Attr29    0
Attr30    0
         ..
Attr35    0
Attr36    0
Attr37    0
Attr38    0
Attr39    0
Attr40    0
Attr41    0
Attr42    0
Attr43    0
Attr44    0
Attr45    0
Attr46    0
Attr47    0
Attr48    0
Attr49    0
Attr50    0
Attr51    0
Attr52    0
Attr53    0
Attr54    0
Attr55    0
Attr56    0
Attr57    0
Attr58    0
Attr59    0
Attr60    0
Attr61    0
Attr62    0
Attr63    0
Attr64    0
Length: 64, dtype: int64

In [52]:
num_atrt=tdata.select_dtypes(['int64','float64']).columns
num_atr

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22',
       'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29',
       'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36',
       'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43',
       'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50',
       'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57',
       'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64'],
      dtype='object')

In [53]:
scaler = StandardScaler() ## object intitation
scaler.fit(tdata[num_atr])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [54]:
tdata[num_atr]=scaler.transform(tdata[num_atr])

In [55]:
prediction=.predict(tdata)

In [56]:
data={'ID':ID,'prediction':prediction}

In [57]:
df=pd.DataFrame(data)

In [58]:
df.head()

      ID  prediction
0  36554           0
1  36555           0
2  36556           0
3  36557           0
4  36558           0

In [81]:
writer=pd.ExcelWriter('Submission_rfc3.xlsx',engine='xlsxwriter')
df.to_excel(writer,sheet_name='Sheet1')
writer.save()

In [60]:
df.to_csv("Submission_ADABOOST.csv",index=False)

In [42]:
XGB_model = XGBClassifier(n_estimators=50, gamma=0.5,learning_rate=0.1)

In [ ]:
XGB_model.fit(X_train_res, y_train_res)

In [ ]:
y_pred = XGB_model.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(recall_score(y_test,y_pred,pos_label=1))
print(precision_score(y_test,y_pred,pos_label=1))
print(f1_score(y_test,y_pred,pos_label=1))
print()
y_pred1 = XGB_model.predict(X_train1)
print(accuracy_score(y_train1,y_pred1))
print(recall_score(y_train1,y_pred1,pos_label=1))

In [43]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
param_grid = {'n_estimators' : [100, 150, 200],
              'learning_rate' : [0.1, 0.5, 0.9]}

Adaboost_model_clf = GridSearchCV(AdaBoostClassifier(
            DecisionTreeClassifier(max_depth=2)), param_grid, n_jobs=-1)

In [44]:
Adaboost_model_clf.fit(X_train, y_train)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          learning_rate=1.0, n_estimators=50, random_state=None),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_estimators': [100, 150, 200], 'learning_rate': [0.1, 0.5, 0.9]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [45]:
# for X_train not scaled
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

y_pred =Adaboost_model_clf.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(recall_score(y_test,y_pred,pos_label=1))
print(precision_score(y_test,y_pred,pos_label=1))
print(f1_score(y_test,y_pred,pos_label=1))
print()
y_pred1 = Adaboost_model_clf.predict(X_train1)
print(accuracy_score(y_train1,y_pred1))
print(recall_score(y_train1,y_pred1,pos_label=1))

0.9614831388844494
0.321656050955414
0.7829457364341085
0.4559819413092551

0.9747543275358743
0.49696969696969695

In [46]:
# for res
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

y_pred =Adaboost_model_clf.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(recall_score(y_test,y_pred,pos_label=1))
print(precision_score(y_test,y_pred,pos_label=1))
print(f1_score(y_test,y_pred,pos_label=1))
print()
y_pred1 = Adaboost_model_clf.predict(X_train1)
print(accuracy_score(y_train1,y_pred1))
print(recall_score(y_train1,y_pred1,pos_label=1))

0.9346332108038996
0.6643356643356644
0.37773359840954274
0.48162230671736384

0.9589176296418144
0.8182586644125106

In [26]:
#from xgboost import XGBClassifier

In [27]:
#XGB_model = XGBClassifier(n_estimators=450, gamma=0.3,learning_rate=0.4)

In [ ]:
#XGB_model.fit(X_train, y_train)